*{
    box-sizing: border-box;
}
.jumbotron, .panel-heading{
    background-color: #ff7300!important;
    color: #fff !important;
    
}

button{
    background-color: #ff7300 !important;
    color: #fff !important;
    font-weight:600 !important;
}
img{
    width:250px;
    height:200px;
   
 }
#heading{
    font-weight:800;
    font-size: 35px;
    text-transform: uppercase;
   
    
}
#special{
  display: inline-block;
}
#spec-2{
    padding-top:50px;
    
}
