*{
    box-sizing: border-box;
}
.jumbotron, .panel-heading{
    background-color: #ff7300!important;
    color: #fff !important;
    
}
h1{
    float:left;
}
button{
    background-color: #ff7300 !important;
    color: #fff !important;
    font-weight:600 !important;
}
img{
    width:250px;
    height:200px;
 }
#heading{
    font-weight:800;
    font-size: 40px;
    text-transform: uppercase;
    
}

